
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{
  margin:0;
  background-color:#333;
  color:white;
}
html,body{
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5
}
html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
textarea{margin-top: 2px;}
.centered tr th,.centered tr td{text-align:center}
.button{
  border-radius: 8px;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}
.button:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}  
.disabled,.button:disabled{cursor:not-allowed;opacity:0.3}.disabled *,:disabled *{pointer-events:none}
.button.disabled:hover{box-shadow:none}
.input-question{
  padding: 0 5px;
  display:block;
  border:none;
  border-bottom:1px; 
  solid #ccc;
  width:100%;
  height: 30%;
  resize: none
}
.input-login{
  border-radius: 8px;
}
.input-test{
  padding: 6px;
  display:block;
  border:none;
  border-bottom:1px; 
  solid #ccc;
  width:100%;
  height:100%;
  resize: none;
}

.container:after,.container:before
.top,.bottom{position:fixed;width:100%;z-index:1}.top{top:0}.bottom{bottom:0}
.left-align{text-align:left!important}.right-align{text-align:right!important}.justify{text-align:justify!important}.center{text-align:center!important}
.button:hover{color:#000!important;background-color:#ccc!important}
.nav-bar{
  margin-right:70px;
  margin-left:70px;
}
.main-container{
  margin-right:70px;
  margin-left:70px;
  margin-bottom: 8px;
}
.container{
  padding: 16px;
  border-radius: 32px;
  margin-bottom: 16px;
}
.container-col-l{
  width: 50%;
  float:left;
}
.container-col-r{
  margin-left:50%;
}
.container-item-sm{margin: 4px;}
.container-item-md{margin-top: 12px;}
.container-row{
  width:100%;
}
.login-container{
  width: 50%;
  margin-left:25%;
  margin-right:25%;
}
.login-body{
  margin-top: 8%;
}

.topic-select{
  padding:0px 4px;
  width:150px;
  border:none;
  border-bottom:1px 
  solid #ccc
}
.test-value-input{
  width:100%;
  height:100%;
  resize: none;
}
.test-container{
  height:500px;
  padding: 16px;
}
.test-column{
  position: relative;
  float:left;
  width:50%;
  height: 100%;
  display:block;
  border:none;
  border-bottom:1px; 
  solid #ccc;
}
table,th,tr{
  border: 1px solid black;
}
th,td{
  padding: 10px;
}
table{
  width:100%;
}
tr:nth-child(even){
  color:#fff!important;
  background-color: #2c3e50;
}
tr:nth-child(odd){
  color:#fff!important;
  background-color: #19242e;
}
th {
  text-align: center;
}
th:nth-child(1){
  width:50%;
}
.td-actions{
  margin-right: 10px;
}


/* COLORS */
.color-main1{color:#fff!important;background-color:#023852!important}
.color-main2{color:#fff!important;background-color:#071930!important}
.color-bold1{color:#fff!important;background-color:#851934!important}
.color-sec1{color:#000!important;background-color:#fff!important}
.color-sec2{color:#000!important;background-color:#d7dadb!important}
.color-red{color:#fff!important; background-color:#f24738!important;}
.color-green{color:#fff!important; background-color:#03a694!important;}

/*
.color-main1{color:#fff!important;background-color:#2c3e50!important}
.color-main2{color:#000!important;background-color:#6dbcdb!important}
.color-bold1{color:#fff!important;background-color:#fc4349!important}
.color-sec1{color:#000!important;background-color:#fff!important}
.color-sec2{color:#000!important;background-color:#d7dadb!important}
.color-red{color:#fff!important; background-color:#f11!important;}
.color-green{color:#fff!important; background-color:#1a1!important;}
*/

/*

References:
https://www.w3schools.com/w3css/4/w3.css
Nicolas Gallagher and Jonathan Neal git.io/normalize


*/
