
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

body{
  margin:0;
  margin-top:16px;
}

footer,header,main{display:block}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
textarea{overflow:auto}
/* End extract */

html,body{
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5
}
html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

.centered tr th,.centered tr td{text-align:center}
.button{
  border-radius: 8px;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap

}
.button:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}  
.disabled,.button:disabled{cursor:not-allowed;opacity:0.3}.disabled *,:disabled *{pointer-events:none}
.button.disabled:hover{box-shadow:none}
.input-large{
  padding: 0 5px;
  display:block;
  border:none;
  border-bottom:1px; 
  solid #ccc;
  width:100%;
  height: 128px;
}
.input-small{
  padding: 0 5px;
  display:block;
  border:none;
  border-bottom:1px; 
  solid #ccc;
  width:100%;
}
.input-login{
  border-radius: 8px;
}
.select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.container:after,.container:before
.top,.bottom{position:fixed;width:100%;z-index:1}.top{top:0}.bottom{bottom:0}

.left-align{text-align:left!important}.right-align{text-align:right!important}.justify{text-align:justify!important}.center{text-align:center!important}
.button:hover{color:#000!important;background-color:#ccc!important}

.container{
  padding: 16px;
  margin-right:70px;
  margin-left:70px;
  margin-bottom: 8px;
  border-radius: 32px;
}

.container-item-sm{margin: 4px;}
.container-item-md{margin-top: 12px;}

.nav-bar{
  margin-right:70px;
  margin-left:70px;
}

.test-container{
  height:500px;
  padding: 16px;
}

.test-column{
  position: relative;
  float:left;
  width:50%;
  height: 100%;
  display:block;
  border:none;
  border-bottom:1px; 
  solid #ccc;
}

/* COLORS */
.color-main1{color:#fff!important;background-color:#2c3e50!important}
.color-main2{color:#000!important;background-color:#6dbcdb!important}
.color-bold1{color:#fff!important;background-color:#fc4349!important}
.color-sec1{color:#000!important;background-color:#fff!important}
.color-sec2{color:#000!important;background-color:#d7dadb!important}




/*

References:
https://www.w3schools.com/w3css/4/w3.css
Nicolas Gallagher and Jonathan Neal git.io/normalize

*/
